<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{css/home.css}" rel="stylesheet" />
</head>
<body>

<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="/users_details">Users details</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>

</ul>

<!--<div align="center">-->
<!--    <h1>Spring Boot Form Demo</h1>-->
<!--    <a href="/register"><span style="font-size: 2em;">Click here to register user </span></a>-->
<!--    <span style="font-size: 2em;">or to</span> <a href="/login"><span style="font-size: 2em;">login</span></a>-->
</div>
</body>
</html>