<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{css/users.css}" rel="stylesheet"/>
    <link th:href="@{css/home.css}" rel="stylesheet" />
</head>
<body>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="/users_details">Users details</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>

</ul>
<center><h1>These are all users in my DB!</h1></center>

<div class="center" style="padding-top: 30px; padding-bottom: 30px">
    <table id="users">
        <tr>
            <th>Service id</th>
            <th>Service name</th>
            <th>Service street</th>
            <th>Service rating</th>
            <th>Delete</th>
        </tr>
        <tr th:each="service : ${services}">
            <td th:text="${service.id}"></td>
            <td th:text="${service.name}"></td>
            <td th:text="${service.street}"></td>
            <td th:text="${service.rating}"></td>
            <span><td><a th:href="@{/service/delete/{id}(id=${service.id})}" style="background-color: red; text-underline: none;
             z-index: 0;padding: 0em;margin: 0em;"><i>Delete</i></a></td></span>
        </tr>
    </table>
    <br>
    <br>
    <br>
</div>
<center>
    <a href="/add-service" class="linkCSS"
       style="text-decoration: none; font-family: Arial, Helvetica, sans-serif; color: #e7d63c; font-size: 2em">Add a service!</a>
</center>
<!--<table id="employees">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th> Name </th>-->
<!--        <th> Age </th>-->
<!--        <th> Salary </th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="employee : ${employees}">-->
<!--        <td th:text="${employee.name}"></td>-->
<!--        <td th:text="${employee.age}"></td>-->
<!--        <td th:text="${employee.salary}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

<!--<table>-->
<!--    <tbody>-->
<!--<tr th:each="employee : ${employees}">-->
<!--       Id: <td th:text="${employee.id}"></td>-->
<!--       Name: <td th:text="${employee.name}"></td>-->
<!--       Age: <td th:text="${employee.age}"></td>-->
<!--       Salary: <td th:text="${employee.salary}"></td><br>-->
<!--</tr>-->
<!--    </tbody>-->
<!--</table>-->
</body>
</html>